.DS_Store
*.pyc
*.egg-info
*.swp
tags
lafia/docs/current
.env
node_modules/
lafia/public/dist/
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.scannerwork/css-bundle/stylelintconfig.json
.scannerwork/css-bundle/bin/server
.scannerwork/css-bundle/lib/tsconfig.tsbuildinfo
.scannerwork/css-bundle/lib/src/server.d.ts
.scannerwork/css-bundle/lib/src/server.js
.scannerwork/css-bundle/lib/src/server.js.map
.scannerwork/css-bundle/package/package.json
.scannerwork/css-bundle/package/yarn.lock
lafia/public/dist/
kubectl
lafia/public/node_modules
htmlcov/
.coverage
coverage.xml
